.section-six-container {
  position: relative;
  width: 100dvw;
  height: fit-content;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-six-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--black);
  background-image: url(../../../../public/media/section-six-bgH.webp);
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.section-six-bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.section-six-header {
  margin: 0px auto 30px auto;
  display: flex;
  align-items: center;
  color: var(--white);
  width: fit-content;
}
.section-six-header h2 {
  margin: 10px 0px;
  position: relative;
  font-family: "Dancing Script", cursive;
  font-size: 2.8rem;
}
.section-six-header h2:nth-child(1) {
  font-family: "Open Sans";
  font-size: 2rem;
  text-transform: uppercase;
}
.section-six-header h2:nth-child(1)::before {
  content: " ";
  position: absolute;
  border: 1px solid var(--white);
  height: 80%;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
}
.section-six-header h2:nth-child(2) {
  margin-left: 100px;
}

.section-six-list {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: auto 10px;
}
.section-six-list::-webkit-scrollbar {
  display: none;
}

.section-six-meal {
  border: 0.1px solid var(--white);
  cursor: default;
  position: relative;
  margin: 0px 5px;
  background-color: rgba(225, 225, 225, 0.45);
  padding: 15px;
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  color: var(--yellow);
  box-shadow: 0px 0px 32px 1px var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.section-six-meal:hover {
    backdrop-filter: blur(0px);
}
.section-six-meal img {
  width: 210px;
}
.section-six-meal h3 {
  margin-top: 15px;
  text-align: center;
}
.section-six-meal a {
  border: 0.5px solid var(--black);
  border-radius: 4px;
  background-color: var(--yellow);
  color: var(--black);
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: none;
  padding: 8px;
  margin: 8px auto 4px auto;
}

@media only screen and (max-width: 768px) {
  .section-six-header {
  }
  .section-six-header h2 {
    font-size: 1.8rem;
  }
  .section-six-header h2:nth-child(1) {
    font-size: 1.5rem;
  }
  .section-six-header h2:nth-child(1)::before {
    right: -25px;
  }
  .section-six-meal img {
    width: 100%;
  }
  .section-six-header h2:nth-child(2) {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 425px) {
  .section-six-bg {
    background-image: url(../../../../public/media/section-six-bgV.webp);
  }
  .section-six-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .section-six-header h2 {
    font-size: 1.5rem;
  }
  .section-six-header h2:nth-child(1)::before {
    content: " ";
    position: absolute;
    border: 1px solid var(--white);
    height: 0px;
    width: 100%;
    right: 0px;
    top: auto;
    bottom: -10px;
    transform: none;
  }
  .section-six-header h2:nth-child(2) {
    text-align: center;
    margin: 20px 50px 0px 50px;
  }
  .section-six-list {
    width: 95%;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .section-six-meal {
    width: calc(50% - 10px);
    margin: 10px 5px;
    justify-content: flex-start;
  }
  .section-six-meal img {
    width: 100%;
  }
  .section-six-meal h3 {
    margin-top: 5px;
  }
  .section-six-meal a {
    margin: 4px auto;
  }
}